$chart-tooltip-bg: #ced7db;
$chart-tooltip-color: #6f6265;
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: $chart-tooltip-bg;
  color: $chart-tooltip-color;
  font-family: Oxygen,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  pointer-events: none;
  z-index: 10000;
  white-space: nowrap;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;

  &.tooltip-show {
    opacity: 1;
  }
}

.ct-area, .ct-line {
  pointer-events: none;
}
